.row {
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
  
  .left_container{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex: 1;
     
  }

  .right_container{
    display: flex;
     width: 50px;
  }